<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head") %>
</head>

<body>
  <header>
    <%- include("./partials/header") %>
  </header>

  <main>
    <h1>Uh oh!</h1>
    <h2>Error <%= errorCode %>: <%= errorMessage %> </h2>
  </main>

  <footer>
    <%- include("./partials/footer") %>
  </footer>
</body>
</html>